	div#topLogo = link_to image_tag('logo.png'), root_path  

	div#topMenu
	    ul
	    	li = link_to  'Головна', root_path
	    	li = link_to 'Готови ришення', solution_path
	    	li = link_to 'Тарифы', rates_path
	    	li = link_to 'Контакты', contact_path
	    	
			- if user_signed_in? 
		  		li = link_to('Выйти', destroy_user_session_path, :method => :delete)
		  	- else
		  		li = link_to('Войти', new_user_session_path) 


    div#topWords
    	h1  Зробіть життя своїх  клієнтів простішим

    	= link_to "change lang", main_ruindex_path