<div class="content_container">
	<div class="content_name">
		<h3>Про нас</h3>
	</div>
	<div class="container">
		<div class="col-md-6 col-sm-6 col-xs-push-2 col-xs-8 col-sm-push-0 col-md-push-0">
			<%= image_tag("content_image_2.png", style: "width: 100%;")%>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<p>
				Наша компания – не разработчик мобильных дополнений.
				Мы выступаем в качестве провайдера между вашей компанией, производителем смартфонив и конечным потребителем, используя стандартное ПО мобильных телефонов на базе ios и Android. 				
				Предлагаем Вам инновационный маркетинговый сервис, который в несколько раз увеличит эффективность коммуникаций с потребителями. 				
				Мы даем Вам возможность использовать все преимущества Wallet/android wallet и привлечь 100% мобильной аудитории без разработки мобильного дополнению.
			</p>
		</div>
	</div>
</div>
<div class="content_container grey_container">
	<div class="content_name">
		<h3>Услуги</h3>
	</div>
	<div class="container">
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="circle_img_container">
				<div class="circle_img">
					<%= image_tag("light_img.png")%>
				</div>
				<p>
					Мы поможем Вам открыть новые методы информирования и получения дохода с помощью прямого контакта с каждым клиентом. Дисконтные программы, электронные билеты, визитки, – все может быть в единственном мобильном приложении смартфона на базе ios или Android.
				</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="circle_img_container second_circle_img_container">
				<div class="circle_img">
					<%= image_tag("hends_img.png")%>
				</div>
				<p>
					Мировые B2c-бренди в сфере торговли, ресторанного бизнеса, авиаперевозок, автодилерства, индустрии красоты и спорта уже используют данную технологию. Это эффективный канал для привлечения новых клиентов, упрощения работы, персонализации рекламы и повышения лояльности. Начните уже сейчас использовать возможности ipass для развития своего бизнеса.
				</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="circle_img_container">
				<div class="circle_img">
					<%= image_tag("hend_plant_img.png")%>
				</div>
				<p>
					Благодаря нашему сервису Вы не только предоставляете возможность своему Клиенту освободить бумажник или сумку от пластиковых карточек, но и уверенность в том, что Он не забудет ее взять с собой.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="content_container">
	<div class="content_name">
		<h3>Как это работает</h3>
	</div>
	<div class="container">
		<p>
			Ipass – технологически совершенный продукт для выдачи и обслуживания электронных карт и полной автоматизации программ лояльности. В мобильном бумажнике хранятся электронные версии бонусних карточек, дисконтных купонов, подарочных сертификатов, билетов и талонов. Сервис позволяет полностью или частично отказаться от пластиковых носителей и расширить спектр маркетинговой деятельности компании.
		</p>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="dashed_container">
				<%= image_tag("rupor_img.png")%>
				<p>
					Простой и БЕСПЛАТНЫЙ инструмент для рекламных рассылок. Каждое информационное сообщение, отправленное через ipass будет открыто и прочитано вашими клиентами. Вы экономите расходы на смс-рассылки, e-mail-маркетинг и услуги call-центра. Ваши клиенты гарантированно получат сообщение об акциях и рекламных мероприятиях вашей компании.
				</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="dashed_container">
				<%= image_tag("marker_img.png")%>
				<p>
					Геотаргетинг – вы сможете извещать пользователей о ближайших точках продажи, размещая до 10 активных геомиток.
				</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="dashed_container">
				<%= image_tag("phone_connection_img.png")%>
				<p>
					Персональный подход к каждому клиенту – в режиме реального времени будут видслидковувати количество выданных карт, активность их использования, и получать быстрый фидбек «задоволений/не доволен», «зацикавлений/не интересно», «прийду/не смогу» и так далее
				</p>
			</div>
		</div>
	</div>
</div>
<div class="content_container grey_container">
	<div class="content_name">
		<h3>Готовые решения для Бизнеса</h3>
	</div>
	<div class="container">
		<p class="not_center_paragraph">
			&nbsp;&nbsp;&nbsp;Сколько вы тратите на маркетинг? Какие бы методы влияния на клиентов вы не избрали, они не имеют 100% отдачи, в сравнении с расходами
		</p>
		<p class="not_center_paragraph">
			&nbsp;&nbsp;&nbsp;Для e-mail розсилки хороший показник складає всього лише 15-20%. Відгук на СМС-інформування в середньому не перевищує 1-3%, а робота колл-центру дасть вам тільки 2-3% активних клієнтів. iPass поєднує функції цих методів, підвищує їх ефективність і підходить для всіх типів бізнесу. Використайте досвід зарубіжних компаній по впровадженню електронних систем клієнтської лояльності.
		</p>
		<a href="" class="content_button_blue">Дізнатись більше</a>
	</div>
</div>
<div class="content_container">
	<div class="content_name">
		<h3>Види карток</h3>
	</div>
	<div class="container">
		<div class="col-md-3 col-sm-3 col-xs-6">
			<div class="top_name_kartok">Картки лояльності</div>
			<%= image_tag("iphone1.png")%>
			<p class="small_hidden">
				Електронна карта iPass – абсолютно новий формат реалізації програми лояльності. Дисконтна карта, яка завжди в телефоні ваших клієнтів. Відкритий список пропозицій та послуг компанії. Постійне оновлення акцій та відслідковування активності.
			</p>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-6">
			<div class="top_name_kartok">Дисконтні купони</div>
			<%= image_tag("iphone2.png")%>
			<p class="small_hidden">
				Після підключення технології iPass електронні версії купонів завантажуються в смартфон клієнта. Їх не можливо забути, загубити або підробити. Відслідковування поводження та місцеперебування клієнтів, нагадування про купони при наближенні до торгової точки.
			</p>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-6">
			<div class="top_name_kartok">Візитівки</div>
			<%= image_tag("iphone3.png")%>
			<p class="small_hidden">
				Електронна версія особистої або бізнес-картки з контактною інформацією та описом послуг. Завжди в смартфоні потенційних клієнтів. Швидке надсилання за допомогою особистого QR-коду, sms, або e-mail. Можливість відмовитись від паперових аналогів.
			</p>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-6">
			<div class="top_name_kartok">Електронні квитки</div>
			<%= image_tag("iphone4.png")%>
			<p class="small_hidden">
				Доставка електронних квитків через смс чи e-mail повідомлення. Технологія iPass дозволяє інформувати потенційних клієнтів, розсилаючи візуально привабливі запрошення. Тримати в курсі подій та змін розкладу постійних гостей.
			</p>
		</div>
	</div>
</div>
<div class="content_container grey_container">
	<div class="content_name">
		<h3>Push повідомлення</h3>
	</div>
	<div class="container">
		<div class="col-md-4 col-sm-4 col-xs-6">
			<%= image_tag("big_iphone_img.png", style:"width:100%;")%>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-6">
			<%= image_tag("big_iphone_img.png", style:"width:100%;")%>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-push-3 col-sm-push-0 col-md-push-0 col-xs-6">
			<%= image_tag("big_iphone_img.png", style:"width:100%;")%>
		</div>
	</div>
	<div class="container">
		<p>
			Повідомлення зявляються на екрані блокування. Повідомлення про акції та спеціальні пропозиції відправляюьться з особистого кабінету. Також повідомлення можуть відправлятись автоматично.
		</p>
	</div>
</div>
<div class="content_container">
	<div class="content_name">
		<h3>Часті запитання</h3>
	</div>
	<div class="container">
		<ul class="bottom_spisok">
			<li class="voprosi"><span>&#10149;</span>Як інтегрується сервіс в мій бізнес?
				<ul>
					<li>
						<div class="otveti">
							<span>&#10004;</span>iPass інтегрується з будь-якою автоматизованою управлінською системою. Наприклад: iiko.NET, R-Keeper, Штрих-М, Loyalty Rewards та інші. При необхідності може бути встановлений спеціальний 2D сканер штрих-кодів, що дозволяє зчитувати QR/AZTEC/PDF417 коди з екрану мобільного телефону.
							Для отримання знижки клієнту достатньо пред’явити мобільний телефон з електронною картою. Адміністратор за допомогою сканеру зчитує код і інформація про клієнта з’являється в системі.
							Наша компанія готова повністю взяти на себе зобов’язання щодо інтеграції і налагодження сервісу.
						</div>
					</li>
				</ul>
			</li>
			<li class="voprosi"><span>&#10149;</span>Скільки часу потрібно на підключення iPass?
				<ul>
					<li>
						<div class="otveti">
							<span>&#10004;</span>Підключення, установка та налаштування сервісу займе біля 7 днів. Для порівняння: на розробку власного мобільного додатку йде в середньому 10-12 місяців.
						</div>
					</li>
				</ul>
			</li>
			<li class="voprosi"><span>&#10149;</span>Які типи карт можливо створити?
				<ul>
					<li>
						<div class="otveti">
							<span>&#10004;</span>Використовуючи стандартний онлайн редактор дизайну карт ви можете створити і оформити різні типи карт. Наприклад: електронні квитки, картки постійних покупців, членські картки, купони і дисконтні карти. Ми пропонуємо кілька доступних шаблонів та додатків для них.
						</div>
					</li>
				</ul>
			</li>
			<li class="voprosi"><span>&#10149;</span>Як користувачі отримують карти на свій гаджет?
				<ul>
					<li>
						<div class="otveti">
							<span>&#10004;</span>Отримувачі карт повинні самостійно додати їх до свого мобільного гаманця Wallet/Passbook. Якщо не потрібно вносити ніякої додаткової інформації, користувач буде бачити червону кнопку «Додати» в верхньому правому кутку. Обравши її, карта опиниться в мобільному додатку на смартфоні клієнта.
							Якщо ви хочете отримати від користувача додаткові дані, то перед ним з’являться поля для заповнення (їх список ви зможете створити в онлайн конструкторі). Після внесення інформації, карта автоматично буде додана до електронного гаманця на мобільному гаджеті вашого клієнта.
						</div>
					</li>
				</ul>
			</li>
			<li class="voprosi"><span>&#10149;</span>Як підраховується кількість карт в тарифному плані?
				<ul>
					<li>
						<div class="otveti">
							<span>&#10004;</span>Карта рахується тільки тоді, коли вона була встановлена користувачем у свій мобільний додаток (Apple Wallet або Google Wallet). Це «активна карта», яка гарантує вам прямий зв’язок з клієнтом.
						</div>
					</li>
				</ul>
			</li>
			<li class="voprosi"><span>&#10149;</span>Чи рахуються карти, якщо вони були видалені користувачем?
				<ul>
					<li>
						<div class="otveti">
							<span>&#10004;</span> Карти підраховуються тільки тоді, коли вони внесені користувачем в мобільний додаток. Якщо у вас 100 активних карт, але 1 користувач видалить свою карту, на ваш баланс буде зараховано 99 активних карт. Якщо ви оформили 1000 карт, але тільки 800 клієнтів додали їх у свій мобільний додаток, то вам буде зараховано 800 активних карт.
						</div>
					</li>
				</ul>
			</li>
			<li class="voprosi"><span>&#10149;</span>Що буде, якщо я перевищу ліміт обраного тарифного плану?
				<ul>
					<li>
						<div class="otveti">
							<span>&#10004;</span> Ви не будете за це сплачувати. Однак всі користувачі, які встановлять вашу карту після того, як ви досягнете встановленого ліміту, будуть отримувати порожню форму з повідомленням «Перевищений ліміт», що означає, що вони не зможуть використовувати вашу карту.
							Щоб уникнути цього, ви можете встановити обмеження на випуск карт в онлайн конструкторі або просто підвищити ліміт і поновити підписку, щоб забезпечити всіх ваших клієнтів картами.
						</div>
					</li>
				</ul>
			</li>
			<li class="voprosi"><span>&#10149;</span>Чи можу я спробувати технологію безкоштовно?
				<ul>
					<li>
						<div class="otveti">
							<span>&#10004;</span> Так, ми надаємо своїм клієнтам безкоштовний тестовий період. Однак, коли відведена кількість пробних карт скінчиться сервіс буде недоступним. Подзвоніть менеджерам нашої компанії прямо зараз і отримайте консультацію.
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
</div>
