Имя:           <%= @rateform.name %>   
Почта:         <%= @rateform.mail %> 
Комментарий:   <%= @rateform.comment %> 
Тарифный план: <%= @rateform.ratename %> 
Телефон:       <%= @rateform.phone %> 

