// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




h1 { color: green; }
h2 { color: blue; }


#topLogo {
    width: 300px;
    height: 109px;
    object-fit: cover;
    margin-left: 200px;
}


#topMenu {
    top: 34px;
    left: 520px;
    width: 599px;
    position: absolute;
    height: 50px;
}

   ul {
    margin: 0px;
    padding: 12px;
    list-style: none;
}
li {
    display: inline-block;
    margin-left: 40px; }

li a { color: #FFFFFF; }    



#topWords h1 { color: #605E5E;
				margin-left: 205px; 
				margin-top: 90px;}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 /*


 */



body { background: url("background.jpg");
		background-size: cover; }
