<% @uarates.each do |x| %>
	<div class="col-md-4 col-sm-6 col-sm-push-3 col-md-push-0 col-xs-12">
		<div class="dashed_container">
			<h5><%= x.title %></h5>
			<ul>
				<li><%= x.card_limit %></li>
				<li><%= x.card_type %></li>
			</ul>
		<a><%= link_to 'Выбрать', new_rate_form_path, :class => "content_button_blue"%></a>
		</div>
	</div>
	<% end %>
