<footer>
      <div class="container">
        <div class="col-md-6 col-md-push-0 col-sm-6 col-sm-push-0 col-xs-10 col-xs-push-1">
          <div class="footer_contacts">
            <h3>Свяжитесь с </br> нами</h3>
            <address>Адрес: проспект Павла Тичини, 1в</address>
            <address>Тел.: <a href="tel:+7777777777">+7777777777</a></address>
            <address>E-mail: <a href="mailto:info@ipass.com.ua">info@ipass.com.ua</a></address>
            <div class="social_icons">
              <a href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
              <a href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
              <a href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
              <a href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="message_form">
			<div class="input_group">
				<%= simple_form_for @contact, url: contacts_path, :method => :post  do |f|  %>
					<%= f.input :nickname, placeholder: 'Имя', :error => false, :label => false %>
					<%= f.input :mail, placeholder: 'Почта', :error => false, :label => false %>
					<%= f.input :theme, placeholder: 'Тема', :error => false, :label => false %>
			</div>
				<%= f.input :text, placeholder: 'Текст сообщения', :error => false, :label => false, as: :text %>
				<%= f.button :submit, 'Отправить' %>
				<% end %>
			<div class="clear"></div>
			</div>
        </div>
      </div>
    </footer>











