<div class="content_name">
	<h3>Контакти</h3>
</div>
<div class="container">
	<p>
		Якщо у Вас є запитання стосовного того як ми можемо підвищити рівень Вашого маркетингу та зробити життя Ваших клієнтів простішим, дзвоніть нам або пишіть на електронну адресу і ми з радістю відповімо на всі Ваші запитання
	</p>
	<div class="contacti">
		<div class="col-md-5 col-sm-5 col-xs-12">
			<h3>iPass</h3>
			<address>Адрес: проспект Павла Тичини, 1в</address>
			<address>Тел.: <a href="tel:+7777777777">+7777777777</a></address>
			<address>E-mail: <a href="mailto:info@ipass.com.ua">info@ipass.com.ua</a></address>
		</div>
		<div class="col-md-7 col-sm-7 col-xs-12 map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.6563544720184!2d30.59322481573065!3d50.42887397947244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c57db04f8d87%3A0x35a14b84e5e4eb3e!2z0L_RgNC-0YHQvy4g0J_QsNCy0LvQsCDQotC40YfQuNC90LgsIDEsINCa0LjRl9CyLCDQo9C60YDQsNC40L3QsCwgMDIwMDA!5e0!3m2!1sru!2sru!4v1464548784598" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>
