<div class="content_name">
				<h3>Тарифні плани</h3>
			</div>
			<div class="container">
						<%= render :partial => 'ua_rates/ua_rates_index'%>
			</div>
			<div class="container">
				<div class="col-md-6 col-md-push-3 col-sm-11 col-sm-push-1 col-xs-12">
					<h4>​До кожного тарифного плану входить:</h4>
					<ul>
						<li>24/7 доступ до web APIs</li>
						<li>Необмежена кількість внесення змін до дизайну Пасса</li>
						<li>До 35 язиків для кожного Пассу</li>
						<li>До 10 геоміток для кожного Пассу</li>
						<li>Необмежена кількість push повідомлень на єкран клієнта</li>
						<li>Вбудована розсилка за допомогою соціальних мереж</li>
						<li>Відслідковування статистики по кожному Пассу</li>
					</ul>
				</div>
			</div>
		
