<div class="content_name">
	<h3>Готові рішення</h3>
</div>
<div class="container">
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="gotovie_reshenia">
			<%= image_tag("gotovie_reshenia_img_1.jpg", style: "height: 120px; width: 40%;") %>
			<h5>Ресторани і кафе</h5>
			<ul>
				<li>повна або часткова відмова від смс-інформування та e-mail розсилок</li>
				<li>дисконтні карти та візитівки в мобільному телефоні клієнта</li>
				<li>реалізація будь-яких програм лояльності та систем знижок</li>
				<li>повідомлення про акції та заходи за допомогою push повідомлень</li>
			</ul>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="gotovie_reshenia">
			<%= image_tag("gotovie_reshenia_img_2.png", style: "height: 120px; width: 40%;") %>
			<h5>Автодилери</h5>
			<ul>
				<li>відправка акційних пропозицій від партнерів в один клік</li>
				<li>таргетинг контактів та вибір шаблонів: для нових клієнтів, існуючих, VIP</li>
				<li>постпродажна комунікація і ефективна реалізація додаткових послуг</li>
				<li>сповіщення клієнтів про обновлення парку та тест-драйви</li>
			</ul>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="gotovie_reshenia">
			<%= image_tag("gotovie_reshenia_img_3.png", style: "height: 120px; width: 40%;") %>
			<h5>Індустрія краси та здоров’я</h5>
			<ul>
				<li>персоніфікація обслуговування та індивідуальний підхід</li>
				<li>стимулювання цільової аудиторії та контроль відвідуваності</li>
				<li>миттєве відображення бонусів та знижок в телефонах клієнтів</li>
				<li>легка інтеграція сервісу з будь-якими системами управління</li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="gotovie_reshenia">
			<%= image_tag("gotovie_reshenia_img_4.png", style: "height: 120px; width: 40%;") %>
			<h5>Торгівля</h5>
			<ul>
				<li>інформування потенційних клієнтів за допомогою візуально привабливих повідомлень</li>
				<li>підтримка зв’язку з постійними покупцями і персоніфікація розсилки</li>
				<li>швидке повідомлення про акції, закритий розпродаж, нову колекцію і т.д.</li>
				<li>геолокаційна функція і повідомлення про розташування торгових точок</li>
			</ul>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="gotovie_reshenia">
			<%= image_tag("gotovie_reshenia_img_5.png", style: "height: 120px; width: 40%;") %>
			<h5>Готельний бізнес</h5>
			<ul>
				<li>збільшення кількості повторних візитів</li>
				<li>інформування клієнтів про розширення мережі</li>
				<li>видача персоналізованих карт на знижки</li>
				<li>зворотній зв’язок в режимі реального часу</li>
			</ul>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="gotovie_reshenia">
			<%= image_tag("gotovie_reshenia_img_1.jpg", style: "height: 120px; width: 40%;") %>
			<h5>Розважальні заходи</h5>
			<ul>
				<li>залучення цільової аудиторії за допомогою персональних запрошень</li>
				<li>швидке створення рекламної кампанії і моментальна розсилка</li>
				<li>постійне інформування клієнтів про проведення заходів</li>
				<li>легке відслідковування активності і гео-таргетинг</li>
			</ul>
		</div>
	</div>
</div>

