div.new_message
	div.span6.offset3
= simple_form_for @rateform, url: rate_form_index_path  do |f|
		p 
			b Name	
		= f.input :name, placeholder: 'Імя', :error => false, label: false
		p
			b Email
		= f.input :mail , :error => false, label: false
		p
			b Message
		= f.input :comment, :error => false, label: false, as: :text
		p
			b Rate
		= f.input :ratename, collection: [ "Minimum", "Optimum", "Maximum"], :error => false, label: false, :class => "tariftype"
		p
			b Phone nubmer
		= f.input :phone, :error => false, label: false


		= f.button :submit, "Send", :class => "ratebutton"


 