div.new_message
	div.span6.offset3
= simple_form_for @rateform, url: rate_form_index_path  do |f|
		p 
			b Имя	
		= f.input :name, placeholder: 'Імя', :error => false, label: false
		p
			b Почта
		= f.input :mail , :error => false, label: false
		p
			b Сообщение
		= f.input :comment, :error => false, label: false, as: :text
		p
			b Тариф
		= f.input :ratename, collection: [ "Мінімальний", "Оптимальний", "Максимальний"], :error => false, label: false, :class => "tariftype"
		p
			b Телефон
		= f.input :phone, :error => false, label: false


		= f.button :submit, "Отправить", :class => "ratebutton"


 