*::-webkit-input-placeholder {
	color: white;
	font-weight: bold;
}
*:-moz-placeholder {
	color: white;
	font-weight: bold;
}
*::-moz-placeholder {
	color: white;
	font-weight: bold;
}
*:-ms-input-placeholder {
	color: white;
	font-weight: bold;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus:-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: transparent;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: transparent;
}
input:focus:-ms-input-placeholder,
textarea:focus::-ms-input-placeholder {
	color: transparent;
}

body input:focus,
body textarea:focus {
	border: 2px solid orange;
}
body input:required:valid,
body textarea:required:valid {

}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("images/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: PT Sans, Helvetica, sans-serif;
	color: #a0a09f;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
  /*SCROLLER*/
.scroller {
	position: fixed;
	bottom: 150px;
	left: 50px;
	background: #1469AF;
	opacity: 0.5;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	color: white;
	font-size: 40px;
	line-height: 80px;
	text-align: center;
	z-index: 10000;
}

.scroller:hover {
	color:white;
	opacity: 1;
	text-decoration: none;
}

.scroller:visited {
	color:white;
	text-decoration: none;
}

.scroller:focus {
	text-decoration: none;
}

/* SCROLLER END */

.container-fluid {
	padding: 0;
}

.container {
	max-width: 1000px;
	position: relative;
}

.main_header_bg {
	background-image: url(images/header_bg.jpg);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	height: 718px;
}
.main_header_text {
	padding-top: 60px;
	font-size: 29px;
}
.main_header_text h2 {
	padding: 0;
	margin: 0;
	line-height: 65px;
	font-weight: normal;
	color: black;
}


/* HEADER */

.blue_header {
	background: linear-gradient(to top, #58A9EC, #6EB4EF);
	background: -moz-linear-gradient(to top, #58A9EC, #6EB4EF);
	background: -webkit-linear-gradient(to top, #58A9EC, #6EB4EF);
	border-bottom: 2px solid #3D76A5;
	box-shadow: -5px 0 5px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.9);
	-o-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.9);
}

.logo {
	width: 18%;
	display: inline-block;
}

.logo img {
	width: 100%;
}

.mobile_navigation {
	position: absolute;
	top: 20px;
	right: 0;
	width: 100%;
	height: 330px;
	z-index: 1238;
	display: none;
}

.mobile_navigation .navigation {
	width: 100%;
	margin-top: 80px;
}

.mobile_navigation .navigation ul li {
	display: block;
	margin: 0;
	padding: 0;
	background: #3D9BE9;
	margin-bottom: 10px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	padding: 0 5px;
}

.mobile_navigation .navigation ul li a {
	font-size: 25px;
}

.navigation {
	width: 76%;
	display: inline-block;
	vertical-align: middle;
}

.navigation ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: right;
}

.navigation ul li {
	display: inline-block;
	margin-right: 22px;
}

.navigation ul li a {
	color: #fff;
	font-size: 19px;
	padding: 7px;
}

.navigation ul li a:hover {
	text-decoration: none;
}

.navigation ul li:last-child {
	background: orange;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	padding: 0 5px;
}

.nav_button {
	width: 50px;
	height: 50px;
	border: 1px solid white;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.2);
	z-index: 168719874;
/*	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	-o-border-radius: 14px;*/
	display: none;
}

.nav_button:hover {
	background: orange;
}

.nav_button_line {
	width: 35px;
	height: 3px;
	background: white;
	margin-top: 8px;
	margin-left: 7px;
}
.nav_button_line:first-child {
	margin-top: 12px;
}

/* content */

.content_container {
	padding-top: 30px;
	padding-bottom: 40px;
	position: relative;
	text-align: center;
}

.grey_container  {
	background: #F3F4F8;
}

.grey_container .content_name h3{
	background: #F3F4F8;
}

.content_name {
	margin-bottom: 40px;
}

.content_name:before {
	content: "";
	display: block;
	border-bottom: 1px solid grey;
	position: relative;
	top: 40px;
}

.content_button_blue {
	background: #3D9BE9;
	width: 250px;
	height: 60px;
	color: white;
	display: inline-block;
	margin-top: 40px;
	line-height: 60px;
	border-radius: 14px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	-o-border-radius: 14px;
	font-size: 18px;
	transition: 0.3s;
	cursor: pointer;
}

.dashed_container .content_button_blue {
	width: 140px;
	height: 40px;
	line-height: 40px;
	border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	-o-border-radius: 18px;
}

.content_button_blue:hover {
	background: #1469AF;
	color: white;
	text-decoration: none;
}

.content_name h3 {
	font-size: 45px;
	padding: 0 20px;
	font-weight: normal;
	margin: 0 auto;
	background: white;
	display: inline-block;
	position: relative;
	z-index: 1;
}

.container h4 {
	font-size: 20px;
}

.content_container p {
	text-align: center;
	font-size: 16px;
	color: #303050;
	padding-top: 15px;
	line-height: 21px;
}

.container .not_center_paragraph {
	text-align: left;
	margin: 0 auto;
	padding: 0;
	width: 80%;
}

.circle_img_container p,
.dashed_container p {
	font-size: 14px;
	line-height: 18px;
}

.second_circle_img_container {
	margin-top: 40px;

}

.circle_img {
	background: #3D9BE9;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	width: 170px;
	height: 170px;
	display: inline-block;
}

.circle_img img {
	width: 120px;
	margin: 25px;
}

.dashed_container {
	border-radius: 10%;
	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;
	-o-border-radius: 10%;
	border: 3px dashed #3D9BE9;
	padding: 10px;
	margin: 30px 0;
}

.dashed_container img {
	margin-top: 20px;
}

.dashed_container .rupor {
	margin-top: 30px;
}

.top_name_kartok {
	border: 2px solid #3D9BE9;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	height: 45px;
	line-height: 45px;
	color: #3D9BE9;
	font-size: 18px;
	margin-bottom: 20px;
}

.top_name_kartok+img {
	width: 100%;
}

.content_container .bottom_spisok li {
	font-size: 23px;
	color: #000;
	text-align: left;
	font-weight: lighter;
	color: #605e5e;
	list-style-type: none;
	cursor: pointer;
}

.content_container .bottom_spisok li ul li {
	display: none;
	list-style-type: none;
	font-size: 16px;
}

.content_container .bottom_spisok {
	margin: 0 auto;
	width: 99%;
}

h5+ul {
	text-align: left;
	margin-bottom: 40px;
}

h5+ul li {
	font-size: 15px;
}

h5,
h5+ul {
	font-size: 20px;
	color: rgba(0, 0, 0, 0.6);
}

span {
	font-size: 25px;
	color: #3D9BE9;
}

.dashed_container h5 {
	margin-top: 0;
}

.dashed_container ul {
	padding-left: 15px;
	margin: 0;
}

.dashed_container ul li {
	font-size: 14px;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.6 );
}

h4+ul {
	text-align: left;
}

.contacti {
	margin-top: 40px;
}

.contacti h3 {
	font-size: 40px;
	margin-bottom: 0;
	text-align: left;
}

.contacti address {
	font-style: normal;
	text-align: left;
}

.contacti_form {
	padding-top: 50px;
	width: 55%;
	margin: 0 auto;
}

.contacti_form input,
.contacti_form textarea {
	width: 100%;
	margin-bottom: 5px;
	font-size: 20px;
	line-height: 20px;
}

.contacti_form input[type="submit"] {
	width: 100px;
	float: right;
}

.contacti_form input::-webkit-input-placeholder,
.contacti_form textarea::-webkit-input-placeholder {
	color: black;
	font-weight: normal;
}
.contacti_form input:-moz-placeholder,
.contacti_form textarea:-moz-placeholder {
	color: black;
	font-weight: normal;
}
.contacti_form input::-moz-placeholder,
.contacti_form textarea::-moz-placeholder {
	color: black;
	font-weight: normal;
}
.contacti_form input:-ms-input-placeholder,
.contacti_form textarea:-ms-input-placeholder {
	color: black;
	font-weight: normal;
}


/* FOOTER*/

footer {
	background: #3D9BE9;
}

.footer_contacts {
	color: white;
	margin: 30px auto 0 auto;
	width: 70%;
}

.footer_contacts address {
		font-style: normal;
		font-weight: bold;
}

.footer_contacts h3 {
	text-align: center;
	font-size: 40px;
	margin-bottom: 20px;
	line-height: 50px;
	font-weight: normal;
}

.footer_contacts h3:after {
	content: "";
	width: 20%;
	display: block;
	border-bottom: 4px solid white;
	margin: 10px auto;
}

.footer_contacts a {
	color: white;
}

.social_icons {
	margin-bottom: 50px;
	margin-top: 20px;
}

.social_icons a {
	width: 30px;
	height: 30px;
	background-image: url(images/social_icons.png);
	background-repeat: no-repeat;
	font-size: 30px;
	margin-right: 30px;
}

.social_icons a:hover {
	text-decoration: none;
}

.social_icons a:nth-child(2) {
	background-position: -80px 0;
}

.social_icons a:nth-child(3) {
	background-position: -122px 0;
}

.social_icons a:nth-child(4) {
	background-position: -40px 0;
}

.message_form {
	margin-top: 130px;
	display: block;
}

.input_group {
	width: 49%;
	display: block;
	float: left;
	margin-right: 10px;
}

.message_form input {
	width: 100%;
	margin-bottom: 15px;
	line-height: 30px;
	background: transparent;
	border: 2px solid white;
	color: orange;
	font-size: 18px;
	transition: 0.5s;
	padding-left: 10px;
	font-weight: bold;
}

.message_form textarea {
	width: 48%;
	line-height: 30px;
	display: inline-block;
	background: transparent;
	border: 2px solid white;
	color: orange;
	padding-left: 10px;
	height: 138px;
	font-weight: bold;
	transition: 0.5s;
	font-size: 18px;
	resize: none;
	float: right;
}

.clear {
	clear: both;
}

.message_form input[type="submit"] {
	width: 150px;
	float: right;
	margin-top: 5px;
	border: none;
}





.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

.ratebutton {
    background-color: #008CBA; /* blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



.tariftype { lengh: 10px; }