/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.logo {
		width: 20%;
	}

	.navigation {
		width: 79%;
	}

	.navigation ul li {
		margin-right: 10px;
	}

	.top_name_kartok {
		font-size: 15px;
	}

	.container .bottom_spisok li {
		font-size: 18px;
	}

	.dashed_container p {
		font-size: 13px;
		margin: 0;
	}

	.dashed_container .rupor,
	.dashed_container img {
		margin: 0;
		width: 45%;
	}

	.footer_contacts h3 {
		font-size: 30px;
	}

	.message_form {
		margin-top: 40px;
	}

	.input_group {
		float: none;
		margin: 0;
		width: 100%;
	}

	.contacti {
		margin-top: 0;
	}

	.container .message_form textarea {
		float: none;
		width: 100%;
	}

	.social_icons a {
		margin-right: 10px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 769px) {
	.container p {
		font-size: 15px;
	}

	.navigation {
		display: none;
	}

	.nav_button {
		display: inline-block;
		position: absolute;
		top: 30px;
		right: 40px;
	}
	.logo {
		width: 150px;
		margin-top: 15px;
	}

	.main_header_text {
		padding-top: 30px;
	}

	.main_header_text h2 {
		font-size: 30px;
		line-height: 35px;
	}
	
	.circle_img_container {
		width: 60%;
		margin: 0 auto;
	}

	.circle_img_container .circle_img {
		width: 100px;
		height: 100px;
	}

	.circle_img img {
		width: 80%;
		margin: 12px;
	} 

	.content_name h3 {
		font-size: 35px;
	}

	.content_name:before {
		top: 30px;
	}
	
	.dashed_container {
		max-width: 400px;
		margin: 20px auto;
	}

	.dashed_container .rupor,
	.dashed_container img {
		width: 30%;
	}

	.content_container ul {
		width: 98%;
	}
	
	.message_form {
		display: none;
	}

	h5+.small_hidden li {
		font-size: 12px;
	}

	.gotovie_reshenia {
		max-width: 400px;
		margin: 0 auto;
	}

	.contacti_form {
		width: 80%;
	}

	.social_icons a {
		margin-right: 0;
	}

	.second_circle_img_container {
		margin-top: 0;
	}


	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.logo {
		width: 40%;
	}

	.circle_img_container {
		width: 90%;
	}

	.small_hidden {
		display: none;
	}

	.top_name_kartok+img {
		margin-bottom: 30px;
	}
	.content_container .bottom_spisok li {
		font-size: 16px;
	}

	.social_icons a {
		font-size: 24px;
	}

	.footer_contacts address {
		font-size: 13px;
	}

	.footer_contacts h3 {
		line-height: 25px;
	}

	.scroller {
		width: 50px;
		height: 50px;
		bottom: 50px;
		left: 10px;
		font-size: 30px;
		line-height: 50px;
	}

	.contacti_form {
		width: 100%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.logo {
		margin-top: 20px;
	}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}