<%if action_name == 'index' %>
  <div class="main_header_bg" id="main_head">
<% end %>
  <header id='header'>
    <div class="container">
      <div class="logo">
        <%= link_to image_tag('logo.png'), root_path%>
      </div>
      <nav class="navigation">
        <div id = 'ChangeLang'>
        <%= link_to image_tag('ru.png'), ru_index_path  %>
        <%= link_to image_tag('ua.png'), ua_index_path  %>
        <%= link_to image_tag('en.png'), en_index_path  %>
        </div>
        <% if controller_name == 'ua'%>
          <ul>
            <li><%= link_to 'Головна', ua_index_path %></li>
            <li><%= link_to 'Готові рішення', ua_solution_path %></li>
            <li><%= link_to 'Тарифи', ua_rates_path %></li>
            <li><%= link_to 'Контакти', ua_contact_path %></li>
            <% if user_signed_in? %>
                <li>
                <%= link_to('Вихід', destroy_user_session_path, :method => :delete) %>        
                </li>
              <% else %>
                <li>
                <%= link_to('Вхід', new_user_session_path)  %>  
                </li>
              <% end %>
          </ul>
        <% elsif controller_name == 'ru' %>
          <ul>
            <li><%= link_to 'Главная', ru_index_path %></li>
            <li><%= link_to 'Готовые решения', ru_solution_path %></li>
            <li><%= link_to 'Тарифы', ru_rates_path %></li>
            <li><%= link_to 'Контакты', ru_contact_path %></li>
            <% if user_signed_in? %>
                <li>
                <%= link_to('Виход', destroy_user_session_path, :method => :delete) %>        
                </li>
              <% else %>
                <li>
                <%= link_to('Вход', new_user_session_path)  %>  
                </li>
              <% end %>
          </ul>
        <% elsif controller_name == 'en' %>
          <ul>
            <li><%= link_to 'Main', en_index_path %></li>
            <li><%= link_to 'Solution', en_solution_path %></li>
            <li><%= link_to 'Rate', en_rates_path %></li>
            <li><%= link_to 'Contacts', en_contact_path %></li>
            <% if user_signed_in? %>
                <li>
                <%= link_to('Log out', destroy_user_session_path, :method => :delete) %>        
                </li>
              <% else %>
                <li>
                <%= link_to('Log in', new_user_session_path)  %>  
                </li>
              <% end %>
          </ul>
        <% end %>
        <div class="clear"></div>
      </nav>
      <div class="nav_button">
        <div class="nav_button_line"></div>
        <div class="nav_button_line"></div>
        <div class="nav_button_line"></div>
      </div>
    </div>
    <% if controller_name == 'ua' && controller.action_name == 'index'%>
      <div class="main_header_text container"><h2>Зробіть життя своїх</br> клієнтів простішим</h2></div>
    <% end %>  
    <% if controller_name == 'ru' && controller.action_name == 'index'%>
      <div class="main_header_text container"><h2>Сделайте жизнь своих</br> клиентов проще</h2></div>
    <% end %> 
    <% if controller_name == 'en' && controller.action_name == 'index'%>
      <div class="main_header_text container"><h2>Make your life</br> customers easier</h2></div>  
    <% end %>
  </header>
<%if action_name == 'index' %>
    </div>
<% end %>
