<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->
<head>

  <meta charset="utf-8">

  <title>Ipass</title>
  <meta name="description" content="">

  <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href="http://allfont.ru/allfont.css?fonts=pt-sans" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <!-- <div id = 'ChangeLang'>
		<%#= link_to image_tag('ru.png'), ru_index_path  %>
		<%#= link_to image_tag('ua.png'), ua_index_path  %>
		<%#= link_to image_tag('en.png'), en_index_path  %>
	</div> -->

  <div class="container-fluid">
    <%= render partial: 'layouts/header' %>

    <div class="content_container">
      <%= yield %>
    </div>
   
        <% if controller_name == 'ua'%>
          <%=  render :partial => 'contacts/uanew'%>
        <% elsif controller_name == 'ru' %>  
          <%=  render :partial => 'contacts/runew'%>
        <% elsif controller_name == 'en' %>  
          <%=  render :partial => 'contacts/ennew'%>  
        <% end %>
        </div>
    
  </div>

  <a class="scroller" id="scroller" href="#header">&uArr;</a>

	<div class="hidden"></div>

	<div class="loader">
		<div class="loader_inner"></div>
	</div>
	<div class="mobile_navigation"></div>

</body>
</html>
